<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">You’re in</h1>

  <p class="mt-4">
    You’re now following <strong><%= subscription.circle.name %></strong>.
    You’ll get a text whenever there’s a new update.
  </p>
</div>
